.navbar .nav-link {
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: limegreen;
}
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/7mar.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  max-height: 800px;
  min-height: 300px;
}

.section-title {
  font-weight: bold;
  padding: 20px 0;
}
.card img {
  height: 250px;
  width: 100%;
}
.social-link a {
  color: white;
  font-size: 30px;

  padding: 2px 5px;
  border-radius: 10px;
  transition: 0.5s;
}
.social-link a:hover {
  color: lime;

  transition: 0.5s;
}
